{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": ["styled-components", "wildcard", "transform-class-properties"]
}
